
/* CABECERA */

.cabecera{
    background-color: #2196F3;   
}

.cabecera .listado_cabecera{
    
    background-color: #2196F3;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    transition: background-color 0.2s ease-in-out;
    
 
}

.cabecera .listado_cabecera a{
    background-color: #2196F3;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    padding-top: 2px;
    padding-bottom: 2px;
    padding:5px;
}

.cabecera .listado_cabecera a:hover{
    color: #9575cd;
    background-color: #1E88E5;
}

.cabecera .listado_cabecera a:active{
    color: #27033b;
    background-color: #0c4a81;
}


/* CUERPO */

body{
    background: linear-gradient(to right, #8892c6, #5564eb, #5f3fd5);
}


/* TEXTOS */

h1{
    text-align: center;
}

h2{
    text-align: center;
}

p{
    text-align: justify;
  text-justify: inter-word;
  width: 100%;
}

p.titulo{
    text-align: center;
}

/* SECCIONES */ 

section{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding: 20px;  
}


/* FORMULARIOS */

form{
    width: 40%; /* Set the width of the form */
    margin: 0 auto; /* Center the form horizontally */
    text-align: center; /* Center the text inside the form */
    
    border: 1px solid;
    border-radius: 10px;
    border-color: white;
}

form > * {
    margin: 0 auto; /* Center the form horizontally */
    text-align: center; /* Center the text inside the form */
    
}


.formu{
    padding-top: 10px   ;
    padding-bottom: 10px;
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 5px;

    width: 70%;

    display: flex; /* enables flexbox layout */
    justify-content: space-between; /* aligns elements horizontally, with space between them */
}

.formu:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
}

.formu > input{
    padding-right: 12%;
    width: 100%;
}

.formu > textarea{
    padding-right: 12.5%; 
    height: 50px;
    width: 100%;
    font-size: 0.7em;
}

.formu > label{
    padding-left: 10%;
    width: 100%;
}


.btnenviar {
    display: inline-block;
    text-align: center;
    font-size: 1.25em;
    line-height: 1.5;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

    color: black;
    background-color: #F9D423;

    width: 50%;

    margin-bottom: 5mm;

    border-radius: 5px;
}

.btnenviar:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}


/*FOOTER*/
footer {
    position: fixed;
    bottom: 0%;
    width: 99%;
    margin: 0 auto; /* Center the form horizontally */
    text-align: center; /* Center the text inside the form */
    background-color: #2196F3;
    color: white;
}

footer >p{
    text-align: center; /* Center the text inside the form */
}


/*JUEGO*/

canvas { background: #eee;
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
 }